.background {
    width: 1780px;
    height: 220px;
    margin-left: 20px;
    border-radius: 25px;
}

.background_apropos {
    width: 1790px;
    height: 220px;
    margin-left: 30px;
    border-radius: 25px;
}

@media screen and (max-width: 768px) {

    .background {
        width: 600px;
    }

    .background_apropos {
        width: 680px;
        height: 300px;
        margin: 0;
    }
}