.carousel {
    height: 600px;
    margin-right: 20px;
 
}

.caroussel_img {
    width:80%;
    object-fit: cover;
    height: 600px;
    position: relative;
    margin-left: 170px;
    border-radius: 10px;
}

.icons_situation {
    display: flex;
    justify-content: space-between;
}
.left {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 240px;
}

.right {
    position: absolute;
    color: white;
    font-size: 100px;
    right: 5px;
    top: 240px;
}