.carousel {
    height: 600px;
    margin-right: 20px;
    position: relative;
}

.caroussel_img {
    position: absolute;
    background-position: 25%;
    width:1200px;
    object-fit: cover;
    height: 500px;
    position: relative;
    margin-top: 60px;
    margin-left: 350px;
    border-radius: 10px;
}

.icons_situation {
    display: flex;
    justify-content: space-between;
}
.left {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 170px;
}

.right {
    position: absolute;
    color: white;
    font-size: 100px;
    right: 5px;
    top: 170px;
}

@media screen and (max-width: 768px) {

    .carousel {
        height: 300px;
    }
    .caroussel_img {
        width: 610px;
        height: 300px;
        margin-left: 50px;
    }

    .left {
        top: 85px;
    }
    .right {
        top: 85px;
    }
}