@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap');

.host {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    margin-right: 80px;
}

.host_name {
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 65px;
    margin-right: 10px;
}

.host_picture {
    border-radius: 90px;
}